  <div class="container mt-4">
    <h2>Dodaj novog proizvođača</h2>
    <form [formGroup]="addProizvodjacForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="proizvodjacIme">Ime</label>
        <input id="proizvodjacIme" formControlName="proizvodjacIme" class="form-control" type="text" placeholder="Unesite ime proizvođača">
      </div>
      <div class="form-group mb-3">
        <label for="opis">Opis</label>
        <input id="opis" formControlName="opis" class="form-control" type="text" placeholder="Unesite opis">
      </div>
      <button class="btn btn-success mt-2" type="submit">Dodaj proizvođača</button>
    </form>
  </div>
  